<div id="lumDiv">
  <p [ngClass]="checkClassEtat()">Luminosité : {{ luminosite }}</p>
  <jqxChart
    #myChartLum
    [height]="500"
    [title]="titleLum"
    [xAxis]="xAxis"
    [seriesGroups]="seriesGroupsLum"
    [source]="sourceArray"
    [showLegend]="true"
    [enableAnimations]="true"
  >
  </jqxChart>
</div>
<div id="disDiv">
  <p [ngClass]="checkClassEtat()">Distance : {{ distance }}</p>
  <jqxChart
    #myChartDis
    [height]="500"
    [title]="titleDis"
    [xAxis]="xAxis"
    [seriesGroups]="seriesGroupsDis"
    [source]="sourceArray"
    [showLegend]="true"
    [enableAnimations]="true"
  >
  </jqxChart>
</div>
<div id="lampadaire">
  <p *ngIf="!allumer" class="eteint">Lampadaire éteint</p>
  <p *ngIf="allumer" class="allume">Présence détectée <br/> Lampadaire allumé : {{ intensite }} Watts</p>
</div>
