#lumDiv {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}

#disDiv {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}

#lampadaire {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
}

.number {
  padding: 10px;
}

.allume {
  color: rgb(76, 206, 44);
}

.eteint{
  color: rgb(248, 98, 98);
}

.header {
  width: 15%;
}

.headers{
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}

.footers{
  display: flex;
  justify-content: space-around;
}

.footer {
  width: 25%;
}

