<div>


  <p *ngIf="!checkEtat">Lampadaire éteint</p>
  <p *ngIf="checkEtat">Lampadaire allumé</p>
</div>
<div id="lumDiv">
  <label>Luminosité : </label>
  <p>{{ luminosite }}</p>
  <jqxChart
    #myChartLum
    [height]="500"
    [title]="titleLum"
    [xAxis]="xAxis"
    [seriesGroups]="seriesGroupsLum"
    [source]="sourceArray"
    [showLegend]="true"
    [enableAnimations]="true"
  >
  </jqxChart>
</div>
<div id="disDiv">
  <label>Distance : </label>
  <p>{{ distance }}</p>
  <jqxChart
    #myChartDis
    [height]="500"
    [title]="titleDis"
    [xAxis]="xAxis"
    [seriesGroups]="seriesGroupsDis"
    [source]="sourceArray"
    [showLegend]="true"
    [enableAnimations]="true"
  >
  </jqxChart>
</div>
